<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HRMS" connectionString="Server=ZUOQINHP\SQLSERVER2016;Database=ccmp1;User Id=zuoqin;Password=Qwerty123;Integrated Security=true"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AttachmentName" value="Payslip.zip"/>
    <add key="smtpserver" value="smtp.163.com"/>
    <add key="sender" value="zuoqinrb@163.com"/>
    <add key="username" value="zuoqinrb"/>
    <add key="password" value=""/>
    <add key="port" value="25"/>
    <add key="SSL" value="False"/>
    
  </appSettings>

</configuration>